[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SimPhe"]
	path = SimPhe
	url = https://github.com/beibeij/simphe
	shallow = true
	registered = true
